# Dependencies
node_modules/
.pnp
.pnp.js

# Production & Build Outputs
dist/
dist-electron/
release/
build/

# Local Databases, Caches & Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.sqlite
*.sqlite3
*.db
*.db-journal

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS Metadata & Cache
.DS_Store
Thumbs.db
*.tmp
*.bak

# IDE & Editor Settings
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing & Coverage
coverage/
.nyc_output/
